<!-- MODIFYING THIS FILE SHOULD BE UNNECESSARY -->
<doctype! html>
  <html>

  <head>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
  </head>

  <body>
    <div ng-app="talkie">
      <nav>
        <a href="#/view1">View1</a>
        <a href="#/view2">View2</a>
      </nav>

      <div ng-controller="view1Ctrl">
        <input type="text" ng-model="search" placeholder="Enter full movie name" />
        <button ng-click="go()" value="search">Search</button>
        <div ng-view></div>
      </div>
    </div>
  </body>

  </html>
